[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
mlflow = "2.14.3"
google-cloud-storage = "*"
sklearn-pandas = "*"
cloudpickle = "*"

[dev-packages]
ipykernel = "*"
jupyter = "*"
matplotlib = "*"
chardet = "*"
seaborn = "*"
xgboost = "*"

[requires]
python_version = "3.11"
